:host{    
    /*CABEÇALHO*/
    --cor-fundo-cabecalho: rgb(81, 0, 97) !important;
    --cor-logo-cabecalho: rgb(255, 115, 0) !important;
    --cor-texto-cabecalho: rgb(236, 195, 255) !important;
    --cor-link-cabecalho:rgb(0, 181, 252) !important;
    --cor-link-hover-cabecalho:rgb(0, 255, 85) !important;

    /*NAVEGAÇÃO*/
    --cor-fundo-navegacao: rgb(255, 217, 0) !important;
    --cor-link-navegacao:rgb(0, 252, 42) !important;
    --cor-link-hover-navegacao:rgb(0, 209, 181) !important;
    /*CONTEÚDO*/
    --cor-fundo-conteudo:rgb(40, 0, 56) !important;

    /*RODAPÉ*/
    --cor-fundo-rodape: rgb(0, 0, 0) !important;
    --cor-texto-rodape: rgb(255, 0, 0) !important;
    --cor-link-rodape:rgb(0, 118, 252) !important;
    --cor-link-hover-rodape:rgb(164, 207, 255) !important;
}