label{
    color: rgb(0, 0, 0);
}

.container{
  width: 100%;
  height: 100%;  
  background-color: rgb(109, 0, 131);
}

.container_componente{  
  height: 100%;
  width: 100%;
  background-color: rgb(226, 43, 43);
}

.componente{  
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.controles_janela{
    z-index: 1;
    position: absolute;
    right:0;
    top:0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: rgb(0, 225, 255);
    opacity: 50%;
    transition: 0.3s;
}

.controles_janela:hover{
  opacity: 100%;
}

.controles_janela{
  transition: 0.3s;
}

.controles_janela:hover{  
  background: rgba(39,62,84,0.82);  
}

