label{
    color: rgb(0, 0, 0);
}

.container{
  width: 100%;
  height: 100%;  
  background-color: rgb(109, 0, 131);
}

.container_componente{  
  height: 100%;
  width: 100%;
  background-color: rgb(226, 43, 43);
}

.componente{  
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.toogle_menu{
  display: none;
}

.controles_janela{
    z-index: 10;
    position: absolute;
    right:0;
    top:0;    
    padding-right: 20px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(39,62,84,0.82);
    opacity: 50%;
    transition: 0.3s;    
}

.controles_janela:hover{
  opacity: 100%;
  transform: scale(1.1);
  background: rgba(39,62,84,0.82);  
}


.controle_janela{  
    transition: 0.3s;
    color: rgb(73, 219, 255);
}
.controle_janela:hover{  
  color: rgb(250, 226, 12);
  transform: scale(2);
}
