/**********************************************************/
/*                     ELEMENTOS TREEMAP D3JS             */
/**********************************************************/
.node_treemap_d3js {
    border: solid 1px rgb(0, 0, 0);
    font: 10px sans-serif;
    line-height: 12px;
    overflow: auto;
    position: absolute;
    text-indent: 2px;
}
  
.container_treemap_d3js {
    opacity: 0;      
    height: 100%;
    width: 100%;
    animation: opacityOn .52s normal forwards step-end;
    animation-delay: 0s;
}

@keyframes opacityOn {
    0% {
        opacity: 0.15;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}