 

.container-ultima{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding: 0px; 
    font-size: 1em;    
}

  /**********************************************************/
  /*                CABEÇALHO                               */
  /**********************************************************/
  .cabecalho_principal{      
    width: 100%;
    background-color: var(--cor-fundo-cabecalho);
    color: white;              
    display: flex;  
    border-radius: var(--raio-borda)  var(--raio-borda) 0 0;
  }    
  
  .area-logo{  
    display: flex;          
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: left;
    align-items: center;  
    padding-left: 1em; 
    border-radius: var(--raio-borda)  var(--raio-borda) var(--raio-borda) 0;    
  }
  
  .container_logo{     
    white-space:nowrap;       
  }
  
  .logo_icone_u{                   
    color: var(--cor-logo-cabecalho);
  }  
  
  .logo_icone_js{                   
    color: var(--cor-logo-cabecalho);      
  }
  
  .ultima_titulo{
    height: 100%;
    align-self: flex-end;
    display: flex;
    align-items: flex-start;
    color: var(--cor-texto-cabecalho);
    justify-content: left;
    align-items: center;     
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 1em;
    display: none;
  }

  .ultima_nome{
    font-family: Tahoma, sans-serif;      
  }
  
  .ultima_descricao{
    font-family: Tahoma, sans-serif;
    font-size: x-small;
    padding: 5px;
  }

  

  /**********************************************************/
  /*                CENTRO DO CABEÇALHO                     */
  /**********************************************************/

  .centro_cabecalho{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  
  
  /**********************************************************/
  /*                NAVEGAÇÃO                               */
  /**********************************************************/
  .area-navegacao{            
    padding-right: 10px;
    display: flex;
    flex-direction: row-reverse;         
    background-color: var(--cor-fundo-conteudo);
    justify-content: right;
    align-items: center;     
    border-radius: var(--raio-borda)  var(--raio-borda)  0 var(--raio-borda);
  }
  
  .controle_navegacao_principal{  
    padding-left: 10px;
    transition: 0.3s;
    color: var(--cor-link-cabecalho); 
    opacity: 0.5;
    padding: 15px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .controle_navegacao_principal:hover{  
    opacity: 1;        
  }
  
  
  
  /**********************************************************/
  /*                CONTEÚDO PRINCIPAL                      */
  /**********************************************************/
  .secao_principal_ultima {    
    width: 100%;
    height: 100%;
    background-color: var(--cor-fundo-conteudo);
}
  
  
  
  /**********************************************************/
  /*                     RODAPÉ                             */
  /**********************************************************/
  .rodape_principal{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 3em;
    width: 100%;
    background-color: var(--cor-fundo-rodape);
    color: var(--cor-texto-rodape); 
    border-radius: 0 0 var(--raio-borda)  var(--raio-borda);
  }
  
  .rodape_principal a{  
    text-decoration: none;
    color: var(--cor-link-rodape);      
  }
  
  .rodape_principal a:hover{  
    color: var(--cor-link-hover-rodape);      
  }
  
  
  
  
  