.container_dispositivo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: aliceblue;
}

.grupo_dados{    
    display: flex;
    flex-direction: column;    
}

.grupo_dados label{
    font-weight: bold;
    margin-right: 10px;
}

.grupo_dados a{  
    text-decoration: none;
    transition: 0.3s;
    color: rgb(73, 219, 255);
}
.grupo_dados a:hover{  
  color: rgb(250, 226, 12);  
}
