/**********************************************************/
/*                CONTAINER PAI                           */
/**********************************************************/
.secao_principal_visualizacao{    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}



/**********************************************************/
/*                CABEÇALHO                               */
/**********************************************************/
.cabecalho_principal_visualizacao{    
    background-color: var(--cor-fundo-navegacao);
    color: var(--cor-texto-cabecalho);      
    display: flex;
    align-items: center;
    padding: 5px;
}    



/**********************************************************/
/*                NAVEGAÇÃO                               */
/**********************************************************/
.navegacao_visualizacao{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
}

.navegacao_visualizacao a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
    color: var(--cor-link-navegacao);
    text-decoration: none;    
    opacity: 0.6;
    transition: 0.3s;
    margin-left: 25px;
}

.navegacao_visualizacao a:hover{    
    color: var(--cor-link-hover-navegacao);
    text-decoration: none;
    opacity: 1;
    transform: scale(1.05);
}



/**********************************************************/
/*                CONTEÚDO PRINCIPAL                      */
/**********************************************************/
.secao_componente_navegacao_visualizacao{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);        
}

.componente_navegacao_visualizacao{
    width: 100%;
    height: 100%;        
}



/**********************************************************/
/*                     RODAPÉ                             */
/**********************************************************/
.rodape_principal_visualizacao{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 1em;
    width: 100%;
    background-color: var(--cor-fundo-navegacao);
    color: var(--cor-texto-rodape);      
}

.rodape_principal_visualizacao a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
    color: var(--cor-link-rodape);
    text-decoration: none;    
    opacity: 0.6;
    transition: 0.3s;
    margin-left: 25px;
}

.rodape_principal_visualizacao a:hover{    
    color: var(--cor-link-hover-rodape);
    text-decoration: none;
    opacity: 1;
    transform: scale(1.05);
}

